<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HelloServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CustomersManager</servlet-name>
    <servlet-class>controllers.CustomersManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductsManager</servlet-name>
    <servlet-class>controllers.ProductsManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomersDelete</servlet-name>
    <servlet-class>controllers.CustomersDelete</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>AddressesManager</servlet-name>
    <servlet-class>controllers.AddressesManager</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CustomersManager</servlet-name>
    <url-pattern>/customers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductsManager</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomersDelete</servlet-name>
    <url-pattern>/customersdelete</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>AddressesManager</servlet-name>
    <url-pattern>/addresses2</url-pattern>
  </servlet-mapping>
  
    
  <servlet> 
	<servlet-name>javax.ws.rs.core.Application</servlet-name> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>javax.ws.rs.core.Application</servlet-name> 
    <url-pattern>/web-services/*</url-pattern> 
  </servlet-mapping> 
  
  
  
  
</web-app>